<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iedu.service.mapper.EduArticleMapper">
    
    <resultMap type="EduArticle" id="EduArticleResult">
        <result property="eduId"    column="edu_id"    />
        <result property="eduTitle"    column="edu_title"    />
        <result property="eduPublishTime"    column="edu_publish_time"    />
        <result property="eduContent"    column="edu_content"    />
        <result property="eduOrganize"    column="edu_organize"    />
        <result property="eduOrganizeType"    column="edu_organize_type"    />
        <result property="eduCreateUser"    column="edu_create_user"    />
        <result property="eduModifyUser"    column="edu_modify_user"    />
        <result property="eduCreateTime"    column="edu_create_time"    />
        <result property="eduModifyTime"    column="edu_modify_time"    />
    </resultMap>

    <sql id="selectEduArticleVo">
        select edu_id, edu_title, edu_publish_time, edu_content, edu_organize, edu_organize_type, edu_create_user, edu_modify_user, edu_create_time, edu_modify_time from edu_article
    </sql>

    <select id="selectEduArticleList" parameterType="EduArticle" resultMap="EduArticleResult">
        <include refid="selectEduArticleVo"/>
        <where>  
            <if test="eduTitle != null  and eduTitle != ''"> and edu_title = #{eduTitle}</if>
            <if test="eduPublishTime != null "> and edu_publish_time = #{eduPublishTime}</if>
            <if test="eduContent != null  and eduContent != ''"> and edu_content = #{eduContent}</if>
            <if test="eduOrganize != null  and eduOrganize != ''"> and edu_organize = #{eduOrganize}</if>
            <if test="eduOrganizeType != null "> and edu_organize_type = #{eduOrganizeType}</if>
            <if test="eduCreateUser != null "> and edu_create_user = #{eduCreateUser}</if>
            <if test="eduModifyUser != null "> and edu_modify_user = #{eduModifyUser}</if>
            <if test="eduCreateTime != null "> and edu_create_time = #{eduCreateTime}</if>
            <if test="eduModifyTime != null "> and edu_modify_time = #{eduModifyTime}</if>
        </where>
    </select>
    
    <select id="selectEduArticleByEduId" parameterType="Long" resultMap="EduArticleResult">
        <include refid="selectEduArticleVo"/>
        where edu_id = #{eduId}
    </select>
    <select id="selectByKeyWord" resultMap="EduArticleResult">
        select edu_id, edu_title, edu_publish_time, edu_content, edu_organize, edu_organize_type from edu_article
        <where>
            edu_title like #{text}
            limit #{pageSize}
            offset #{offset}
        </where>
    </select>
    <select id="selectCountByKeyWord" resultType="java.lang.Integer">
        select count(1) from edu_article
        <where>
            edu_title like #{text}
        </where>
    </select>
    <select id="selectEduArticleListByUid" resultMap="EduArticleResult">
        <include refid="selectEduArticleVo"/>
        <where>
            <if test="title != null  and title != ''"> and edu_title = #{title}</if>
             AND edu_create_user = #{uid}
        </where>
    </select>

    <insert id="insertEduArticle" parameterType="EduArticle" useGeneratedKeys="true" keyProperty="eduId">
        insert into edu_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eduTitle != null">edu_title,</if>
            <if test="eduPublishTime != null">edu_publish_time,</if>
            <if test="eduContent != null">edu_content,</if>
            <if test="eduOrganize != null">edu_organize,</if>
            <if test="eduOrganizeType != null">edu_organize_type,</if>
            <if test="eduCreateUser != null">edu_create_user,</if>
            <if test="eduModifyUser != null">edu_modify_user,</if>
            <if test="eduCreateTime != null">edu_create_time,</if>
            <if test="eduModifyTime != null">edu_modify_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eduTitle != null">#{eduTitle},</if>
            <if test="eduPublishTime != null">#{eduPublishTime},</if>
            <if test="eduContent != null">#{eduContent},</if>
            <if test="eduOrganize != null">#{eduOrganize},</if>
            <if test="eduOrganizeType != null">#{eduOrganizeType},</if>
            <if test="eduCreateUser != null">#{eduCreateUser},</if>
            <if test="eduModifyUser != null">#{eduModifyUser},</if>
            <if test="eduCreateTime != null">#{eduCreateTime},</if>
            <if test="eduModifyTime != null">#{eduModifyTime},</if>
         </trim>
    </insert>

    <update id="updateEduArticle" parameterType="EduArticle">
        update edu_article
        <trim prefix="SET" suffixOverrides=",">
            <if test="eduTitle != null">edu_title = #{eduTitle},</if>
            <if test="eduPublishTime != null">edu_publish_time = #{eduPublishTime},</if>
            <if test="eduContent != null">edu_content = #{eduContent},</if>
            <if test="eduOrganize != null">edu_organize = #{eduOrganize},</if>
            <if test="eduOrganizeType != null">edu_organize_type = #{eduOrganizeType},</if>
            <if test="eduCreateUser != null">edu_create_user = #{eduCreateUser},</if>
            <if test="eduModifyUser != null">edu_modify_user = #{eduModifyUser},</if>
            <if test="eduCreateTime != null">edu_create_time = #{eduCreateTime},</if>
            <if test="eduModifyTime != null">edu_modify_time = #{eduModifyTime},</if>
        </trim>
        where edu_id = #{eduId}
    </update>

    <delete id="deleteEduArticleByEduId" parameterType="Long">
        delete from edu_article where edu_id = #{eduId}
    </delete>

    <delete id="deleteEduArticleByEduIds" parameterType="String">
        delete from edu_article where edu_id in 
        <foreach item="eduId" collection="array" open="(" separator="," close=")">
            #{eduId}
        </foreach>
    </delete>
</mapper>