<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iedu.service.mapper.EduAcademyPicMapper">
    
    <resultMap type="EduAcademyPic" id="EduAcademyPicResult">
        <result property="eduId"    column="edu_id"    />
        <result property="eduAcademyId"    column="edu_academy_id"    />
        <result property="eduLogo"    column="edu_logo"    />
        <result property="eduImages"    column="edu_images"    />
    </resultMap>

    <sql id="selectEduAcademyPicVo">
        select edu_id, edu_academy_id, edu_logo, edu_images from edu_academy_pic
    </sql>

    <select id="selectEduAcademyPicList" parameterType="EduAcademyPic" resultMap="EduAcademyPicResult">
        <include refid="selectEduAcademyPicVo"/>
        <where>  
            <if test="eduAcademyId != null "> and edu_academy_id = #{eduAcademyId}</if>
        </where>
    </select>
    
    <select id="selectEduAcademyPicByEduId" parameterType="Long" resultMap="EduAcademyPicResult">
        <include refid="selectEduAcademyPicVo"/>
        where edu_id = #{eduId}
    </select>
        
    <insert id="insertEduAcademyPic" parameterType="EduAcademyPic" useGeneratedKeys="true" keyProperty="eduId">
        insert into edu_academy_pic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eduAcademyId != null">edu_academy_id,</if>
            <if test="eduLogo != null">edu_logo,</if>
            <if test="eduImages != null">edu_images,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eduAcademyId != null">#{eduAcademyId},</if>
            <if test="eduLogo != null">#{eduLogo},</if>
            <if test="eduImages != null">#{eduImages},</if>
         </trim>
    </insert>

    <update id="updateEduAcademyPic" parameterType="EduAcademyPic">
        update edu_academy_pic
        <trim prefix="SET" suffixOverrides=",">
            <if test="eduAcademyId != null">edu_academy_id = #{eduAcademyId},</if>
            <if test="eduLogo != null">edu_logo = #{eduLogo},</if>
            <if test="eduImages != null">edu_images = #{eduImages},</if>
        </trim>
        where edu_id = #{eduId}
    </update>

    <delete id="deleteEduAcademyPicByEduId" parameterType="Long">
        delete from edu_academy_pic where edu_id = #{eduId}
    </delete>

    <delete id="deleteEduAcademyPicByEduIds" parameterType="String">
        delete from edu_academy_pic where edu_id in 
        <foreach item="eduId" collection="array" open="(" separator="," close=")">
            #{eduId}
        </foreach>
    </delete>
</mapper>