<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iedu.service.mapper.EduCompanyAddressMapper">
    
    <resultMap type="EduCompanyAddress" id="EduCompanyAddressResult">
        <result property="eduId"    column="edu_id"    />
        <result property="eduCompanyId"    column="edu_company_id"    />
        <result property="eduCountryId"    column="edu_country_id"    />
        <result property="eduProvinceId"    column="edu_province_id"    />
        <result property="eduCityId"    column="edu_city_id"    />
        <result property="eduDistrictId"    column="edu_district_id"    />
        <result property="eduDetailedAddress"    column="edu_detailed_address"    />
        <result property="eduCreateUser"    column="edu_create_user"    />
        <result property="eduModifyUser"    column="edu_modify_user"    />
        <result property="eduCreateTime"    column="edu_create_time"    />
        <result property="eduModifyTime"    column="edu_modify_time"    />
    </resultMap>
    <resultMap type="CompanyAddressVO" id="AddressVO">
        <result property="eduId" column="edu_id"/>
        <result property="eduCompanyId" column="edu_company_id"/>
        <result property="companyName" column="edu_company_name"/>
        <result property="eduCountryId" column="edu_country_id"/>
        <result property="eduCountryName" column="countryName"/>
        <result property="eduProvinceId" column="edu_province_id"/>
        <result property="eduProvinceName" column="provinceName"/>
        <result property="eduCityId" column="edu_city_id"/>
        <result property="eduCityName" column="cityName"/>
        <result property="eduDistrictId" column="edu_district_id"/>
        <result property="eduDistrictName" column="districtName"/>
        <result property="eduDetailedAddress" column="edu_detailed_address"/>
        <result property="eduCreateUser" column="edu_create_user"/>
        <result property="eduModifyUser" column="edu_modify_user"/>
        <result property="eduCreateTime" column="edu_create_time"/>
        <result property="eduModifyTime" column="edu_modify_time"/>
    </resultMap>

    <sql id="selectEduCompanyAddressVo">
        select edu_id, edu_company_id, edu_country_id, edu_province_id, edu_city_id, edu_district_id,
               edu_detailed_address, edu_create_user, edu_modify_user, edu_create_time, edu_modify_time
        from edu_company_address
    </sql>
    <sql id="AddressVo">
        SELECT
            a.edu_id,
            a.edu_company_id,
            c.edu_company_name,
            a.edu_country_id,
            country.cityName AS countryName,
            a.edu_province_id,
            province.cityName AS provinceName,
            a.edu_city_id,
            city.cityName AS cityName,
            a.edu_district_id,
            district.cityName AS districtName,
            a.edu_detailed_address,
            a.edu_create_user,
            a.edu_modify_user,
            a.edu_create_time,
            a.edu_modify_time
        FROM
            edu_company_address a
                JOIN edu_company c ON c.edu_id = a.edu_company_id
                JOIN s_provinces country ON a.edu_country_id = country.id
                JOIN s_provinces province ON a.edu_province_id = province.id
                JOIN s_provinces city ON a.edu_city_id = city.id
                JOIN s_provinces district ON a.edu_district_id = district.id
    </sql>
    <select id="selectEduCompanyAddressList" parameterType="EduCompanyAddress" resultMap="AddressVO">
        <include refid="AddressVo"></include>
        <where>  
            <if test="eduCompanyId != null "> and a.edu_company_id = #{eduCompanyId}</if>
            <if test="eduCountryId != null "> and a.edu_country_id = #{eduCountryId}</if>
            <if test="eduProvinceId != null "> and a.edu_province_id = #{eduProvinceId}</if>
            <if test="eduCityId != null "> and a.edu_city_id = #{eduCityId}</if>
            <if test="eduDistrictId != null "> and a.edu_district_id = #{eduDistrictId}</if>
            <if test="eduDetailedAddress != null  and eduDetailedAddress != ''"> and a.edu_detailed_address = #{eduDetailedAddress}</if>
        </where>
    </select>
    
    <select id="selectEduCompanyAddressByEduId" parameterType="Long" resultMap="EduCompanyAddressResult">
        <include refid="selectEduCompanyAddressVo"/>
        where edu_id = #{eduId}
    </select>
        
    <insert id="insertEduCompanyAddress" parameterType="EduCompanyAddress" useGeneratedKeys="true" keyProperty="eduId">
        insert into edu_company_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eduCompanyId != null">edu_company_id,</if>
            <if test="eduCountryId != null">edu_country_id,</if>
            <if test="eduProvinceId != null">edu_province_id,</if>
            <if test="eduCityId != null">edu_city_id,</if>
            <if test="eduDistrictId != null">edu_district_id,</if>
            <if test="eduDetailedAddress != null">edu_detailed_address,</if>
            <if test="eduCreateUser != null">edu_create_user,</if>
            <if test="eduModifyUser != null">edu_modify_user,</if>
            <if test="eduCreateTime != null">edu_create_time,</if>
            <if test="eduModifyTime != null">edu_modify_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eduCompanyId != null">#{eduCompanyId},</if>
            <if test="eduCountryId != null">#{eduCountryId},</if>
            <if test="eduProvinceId != null">#{eduProvinceId},</if>
            <if test="eduCityId != null">#{eduCityId},</if>
            <if test="eduDistrictId != null">#{eduDistrictId},</if>
            <if test="eduDetailedAddress != null">#{eduDetailedAddress},</if>
            <if test="eduCreateUser != null">#{eduCreateUser},</if>
            <if test="eduModifyUser != null">#{eduModifyUser},</if>
            <if test="eduCreateTime != null">#{eduCreateTime},</if>
            <if test="eduModifyTime != null">#{eduModifyTime},</if>
         </trim>
    </insert>

    <update id="updateEduCompanyAddress" parameterType="EduCompanyAddress">
        update edu_company_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="eduCompanyId != null">edu_company_id = #{eduCompanyId},</if>
            <if test="eduCountryId != null">edu_country_id = #{eduCountryId},</if>
            <if test="eduProvinceId != null">edu_province_id = #{eduProvinceId},</if>
            <if test="eduCityId != null">edu_city_id = #{eduCityId},</if>
            <if test="eduDistrictId != null">edu_district_id = #{eduDistrictId},</if>
            <if test="eduDetailedAddress != null">edu_detailed_address = #{eduDetailedAddress},</if>
            <if test="eduCreateUser != null">edu_create_user = #{eduCreateUser},</if>
            <if test="eduModifyUser != null">edu_modify_user = #{eduModifyUser},</if>
            <if test="eduCreateTime != null">edu_create_time = #{eduCreateTime},</if>
            <if test="eduModifyTime != null">edu_modify_time = #{eduModifyTime},</if>
        </trim>
        where edu_id = #{eduId}
    </update>

    <delete id="deleteEduCompanyAddressByEduId" parameterType="Long">
        delete from edu_company_address where edu_id = #{eduId}
    </delete>

    <delete id="deleteEduCompanyAddressByEduIds" parameterType="String">
        delete from edu_company_address where edu_id in 
        <foreach item="eduId" collection="array" open="(" separator="," close=")">
            #{eduId}
        </foreach>
    </delete>
</mapper>