<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iedu.service.mapper.EduEducationRequirementMapper">
    
    <resultMap type="EduEducationRequirement" id="EduEducationRequirementResult">
        <result property="eduId"    column="edu_id"    />
        <result property="eduEdu"    column="edu_edu"    />
        <result property="eduCreateUser"    column="edu_create_user"    />
        <result property="eduModifyUser"    column="edu_modify_user"    />
        <result property="eduCreateTime"    column="edu_create_time"    />
        <result property="eduModifyTime"    column="edu_modify_time"    />
    </resultMap>

    <sql id="selectEduEducationRequirementVo">
        select edu_id, edu_edu, edu_create_user, edu_modify_user, edu_create_time, edu_modify_time from edu_education_requirement
    </sql>

    <select id="selectEduEducationRequirementList" parameterType="EduEducationRequirement" resultMap="EduEducationRequirementResult">
        <include refid="selectEduEducationRequirementVo"/>
        <where>  
            <if test="eduEdu != null  and eduEdu != ''"> and edu_edu = #{eduEdu}</if>
            <if test="eduCreateUser != null "> and edu_create_user = #{eduCreateUser}</if>
            <if test="eduModifyUser != null "> and edu_modify_user = #{eduModifyUser}</if>
            <if test="eduCreateTime != null "> and edu_create_time = #{eduCreateTime}</if>
            <if test="eduModifyTime != null "> and edu_modify_time = #{eduModifyTime}</if>
        </where>
    </select>
    
    <select id="selectEduEducationRequirementByEduId" parameterType="Long" resultMap="EduEducationRequirementResult">
        <include refid="selectEduEducationRequirementVo"/>
        where edu_id = #{eduId}
    </select>
    <select id="selectAll" parameterType="EduEducationRequirement" resultMap="EduEducationRequirementResult">
        select edu_id, edu_edu from edu_education_requirement
    </select>

    <insert id="insertEduEducationRequirement" parameterType="EduEducationRequirement" useGeneratedKeys="true" keyProperty="eduId">
        insert into edu_education_requirement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eduEdu != null">edu_edu,</if>
            <if test="eduCreateUser != null">edu_create_user,</if>
            <if test="eduModifyUser != null">edu_modify_user,</if>
            <if test="eduCreateTime != null">edu_create_time,</if>
            <if test="eduModifyTime != null">edu_modify_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eduEdu != null">#{eduEdu},</if>
            <if test="eduCreateUser != null">#{eduCreateUser},</if>
            <if test="eduModifyUser != null">#{eduModifyUser},</if>
            <if test="eduCreateTime != null">#{eduCreateTime},</if>
            <if test="eduModifyTime != null">#{eduModifyTime},</if>
         </trim>
    </insert>

    <update id="updateEduEducationRequirement" parameterType="EduEducationRequirement">
        update edu_education_requirement
        <trim prefix="SET" suffixOverrides=",">
            <if test="eduEdu != null">edu_edu = #{eduEdu},</if>
            <if test="eduCreateUser != null">edu_create_user = #{eduCreateUser},</if>
            <if test="eduModifyUser != null">edu_modify_user = #{eduModifyUser},</if>
            <if test="eduCreateTime != null">edu_create_time = #{eduCreateTime},</if>
            <if test="eduModifyTime != null">edu_modify_time = #{eduModifyTime},</if>
        </trim>
        where edu_id = #{eduId}
    </update>

    <delete id="deleteEduEducationRequirementByEduId" parameterType="Long">
        delete from edu_education_requirement where edu_id = #{eduId}
    </delete>

    <delete id="deleteEduEducationRequirementByEduIds" parameterType="String">
        delete from edu_education_requirement where edu_id in 
        <foreach item="eduId" collection="array" open="(" separator="," close=")">
            #{eduId}
        </foreach>
    </delete>
</mapper>