<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iedu.service.mapper.EduFinancingStageMapper">
    
    <resultMap type="EduFinancingStage" id="EduFinancingStageResult">
        <result property="eduId"    column="edu_id"    />
        <result property="eduStage"    column="edu_stage"    />
        <result property="eduCreateUser"    column="edu_create_user"    />
        <result property="eduModifyUser"    column="edu_modify_user"    />
        <result property="eduCreateTime"    column="edu_create_time"    />
        <result property="eduModifyTime"    column="edu_modify_time"    />
    </resultMap>

    <sql id="selectEduFinancingStageVo">
        select edu_id, edu_stage, edu_create_user, edu_modify_user, edu_create_time, edu_modify_time from edu_financing_stage
    </sql>

    <select id="selectEduFinancingStageList" parameterType="EduFinancingStage" resultMap="EduFinancingStageResult">
        <include refid="selectEduFinancingStageVo"/>
        <where>  
            <if test="eduStage != null  and eduStage != ''"> and edu_stage = #{eduStage}</if>
            <if test="eduCreateUser != null "> and edu_create_user = #{eduCreateUser}</if>
            <if test="eduModifyUser != null "> and edu_modify_user = #{eduModifyUser}</if>
            <if test="eduCreateTime != null "> and edu_create_time = #{eduCreateTime}</if>
            <if test="eduModifyTime != null "> and edu_modify_time = #{eduModifyTime}</if>
        </where>
    </select>
    
    <select id="selectEduFinancingStageByEduId" parameterType="Long" resultMap="EduFinancingStageResult">
        <include refid="selectEduFinancingStageVo"/>
        where edu_id = #{eduId}
    </select>
        
    <insert id="insertEduFinancingStage" parameterType="EduFinancingStage" useGeneratedKeys="true" keyProperty="eduId">
        insert into edu_financing_stage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eduStage != null">edu_stage,</if>
            <if test="eduCreateUser != null">edu_create_user,</if>
            <if test="eduModifyUser != null">edu_modify_user,</if>
            <if test="eduCreateTime != null">edu_create_time,</if>
            <if test="eduModifyTime != null">edu_modify_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eduStage != null">#{eduStage},</if>
            <if test="eduCreateUser != null">#{eduCreateUser},</if>
            <if test="eduModifyUser != null">#{eduModifyUser},</if>
            <if test="eduCreateTime != null">#{eduCreateTime},</if>
            <if test="eduModifyTime != null">#{eduModifyTime},</if>
         </trim>
    </insert>

    <update id="updateEduFinancingStage" parameterType="EduFinancingStage">
        update edu_financing_stage
        <trim prefix="SET" suffixOverrides=",">
            <if test="eduStage != null">edu_stage = #{eduStage},</if>
            <if test="eduCreateUser != null">edu_create_user = #{eduCreateUser},</if>
            <if test="eduModifyUser != null">edu_modify_user = #{eduModifyUser},</if>
            <if test="eduCreateTime != null">edu_create_time = #{eduCreateTime},</if>
            <if test="eduModifyTime != null">edu_modify_time = #{eduModifyTime},</if>
        </trim>
        where edu_id = #{eduId}
    </update>

    <delete id="deleteEduFinancingStageByEduId" parameterType="Long">
        delete from edu_financing_stage where edu_id = #{eduId}
    </delete>

    <delete id="deleteEduFinancingStageByEduIds" parameterType="String">
        delete from edu_financing_stage where edu_id in 
        <foreach item="eduId" collection="array" open="(" separator="," close=")">
            #{eduId}
        </foreach>
    </delete>
</mapper>